<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes | async" class="col-1-4" routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>
<div><app-hero-search></app-hero-search></div>
<div>
  <h3 *ngIf="isLoading"><i>Loading heroes ... </i></h3>
  <h3 *ngIf="!isLoading">Select a hero:</h3>
  <nav>
    <button (click)="getHeroes()" class="btn btn-primary">Refresh</button>
    <div class="grid grid-pad">
      <a *ngFor="let hero of heroes | async" class="col-1-4" (click)="select(hero)">
        <div class="module hero">
          <h4>{{hero.name}}</h4></div>
      </a>
    </div>
  </nav>
  <div *ngIf="selectedHero">
    <hr>
    <h2>Hero Detail</h2>
    <h3>Editing: {{selectedHero.name}}</h3>
    <app-hero-reactive-form [hero]="selectedHero"></app-hero-reactive-form>
  </div>
</div>
