<my-sizer [size]="OutputSize" (sizeChange)="output($event)"></my-sizer>
<div>Size {{OutputSize}} is OutputSize.</div>

<my-sizer [(size)]="fontSizePx"></my-sizer>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>

<my-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></my-sizer>

<div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special</div>

<div [ngStyle]="currentStyles">
	This is is initially italic, normal weight, and extra large(24px).
</div>