<h2>Hero Detail</h2>
<h3><i>A FormGroup with multiple FormControls</i></h3>
<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 1em">
    <button type="submit" [disabled]="heroForm.pristine" class="btn btn-success">Save</button> &nbsp;
    <button type="button" (click)="revert()" [disabled]="heroForm.pristine" class="btn btn-danger">Revert</button>
  </div>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name" required>
    </label>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Name is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="name.errors.forbiddenName">
        Name cannot be Bob.
      </div>
    </div>
  </div>
  <p>Name value: {{ heroForm.get('name').value }}</p>
  <div formArrayName="secretLairs" class="well well-lg">
    <h4>Secret Lairs</h4>
    <div *ngFor="let address of secretLairs.controls; let i = index" [formGroupName]="i">
      <h4>Address #{{i + 1}}</h4>
      <div style="margin-left: 1em;">
        <div class="form-group">
          <label class="center-block">Street:
            <input class="form-control" formControlName="street">
          </label>
        </div>
        <!-- <p>Street value: {{ heroForm.get('address.street').value}}</p> -->
        <div class="form-group">
          <label class="center-block">City:
            <input class="form-control" formControlName="city">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">State:
            <select class="form-control" formControlName="state">
              <option *ngFor="let state of states" [value]="state">{{state}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Zip Code:
            <input class="form-control" formControlName="zip">
          </label>
        </div>
      </div>
    </div>
    <button (click)="addLair()" type="button">Add a Secret Lair</button>
  </div>
  <div class="form-group radio">
    <h4>Super power:</h4>
    <label class="center-block">
      <input type="radio" formControlName="power" value="flight">Flight</label>
    <label class="center-block">
      <input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
    <label class="center-block">
      <input type="radio" formControlName="power" value="strength">Strength</label>
  </div>
  <div class="checkbox">
    <label class="center-block">
      <input type="checkbox" formControlName="sidekick">I have a sidekick.
    </label>
  </div>
</form>
<!-- <p>Form value: {{ heroForm.value | json }}</p>
<p>Form status: {{ heroForm.status | json }}</p>
<p>Name value: {{ heroForm.get('name').value }}</p>
<p>Name Status: {{ heroForm.get('name').status }}</p>
<p>Name Pristine: {{ heroForm.get('name').pristine }}</p>
<p>Name Untouched: {{ heroForm.get('name').untouched }}</p>
<p>Street value: {{ heroForm.get('address.street').value}}</p>
<p>Street Status: {{ heroForm.get('address.street').status }}</p>
<p>Street Pristine: {{ heroForm.get('address.street').pristine }}</p>
<p>Street Untouched: {{ heroForm.get('address.street').untouched }}</p> -->
<h4>Name change log</h4>
<div *ngFor="let name of nameChangeLog">{{name}}</div>
